streamlit
langchain-community
torch
torchaudio
transformers
pymupdf4llm
langchain
langchain-google-genai
faiss-cpu
pillow
uuid
google-generativeai
huggingface_hub
rank_bm25
sentence_transformers
accelerate
